@charset "utf-8";
/* CSS Document */
*{
	box-sizing: border-box;
}
body{
	font-size: 14px;
	color: #333;
	margin: 0px;
	padding: 0px;
	background-color:#F1EBE9;
}
.container{
	max-width: 1280px;
	margin: 0px auto;
	overflow: hidden;
	display: block;
}/*给放置主体内容的容器设置最大宽度，并将其内容居中显示，当内容溢出出现滚动条，设置成块级元素*/

/*设置不同宽度的块级区域，使其想做浮动，设置position为relative*/
.col-3,.col-7,.col-2,.col-8,.col-6{
	float: left;
	position: relative;
}
.col-2{
	width: 20%;
}
.col-3{
	width: 30%;
}
.col-6{
	width: 60%;
}
.col-7{
	width: 70%;
}
.col-8{
	width: 80%;
}
.clearf:after,.clearf:before{
	content: " ";
	display: block;
	clear: both;
}/*给浮动元素前后增加伪元素，清除浮动*/

.leftside .return
{
	text-align: center;
}
.maincontent{
	margin: 10px auto;
}
.leftside img{
	margin: 25px auto;
	display: block;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 3px solid wheat;
}
/*设置所有新闻子页主要内容区样式*/
.maincontent{
	font-size: 16px;
	line-height: 34px;
	letter-spacing: .5px;
	color: #444;
	width: 1000px;
	padding: 0px 28px;
	
}
.maincontent .title{
	text-align: center;
}
.maincontent img{
/*
	width: 350px;
	height: 250px;
*/
	width: 40%;
	height: 40%;
	
}
.maincontent .imgitem{
	text-align: center;
	margin-top: 15px;
	margin-bottom: -20px;
}
.maincontent .imgitem img{
	margin-left: 5px;
}
/*设置所有新闻子页尾部样式*/
.footer{
	margin-top: 230px;
}
.footer p{
	text-align: center;
	font-size: 13px;
}
